In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/06 14:00:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)
df_pyspark.show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| nik| 28|         5| 15000|
|dany| 45|        10| 10000|
| piu| 25|         3| 25000|
| raj| 22|         4| 12000|
| sam| 19|         2| 15200|
|tiku| 26|         5| 53000|
|sanu| 29|         6| 45000|
+----+---+----------+------+

## Filter Operation

In [4]:
### salary <= 20000
 
df_pyspark.filter('Salary<=20000').show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| nik| 28|         5| 15000|
|dany| 45|        10| 10000|
| raj| 22|         4| 12000|
| sam| 19|         2| 15200|
+----+---+----------+------+

In [6]:
df_pyspark.filter('Salary<=20000').select(['Name','Age']).show()

+----+---+
|Name|Age|
+----+---+
| nik| 28|
|dany| 45|
| raj| 22|
| sam| 19|
+----+---+

In [14]:
df_pyspark.filter(df_pyspark['Salary']>=40000).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|tiku| 26|         5| 53000|
|sanu| 29|         6| 45000|
+----+---+----------+------+

In [ ]:
### like range A-B

In [20]:
df_pyspark.filter((df_pyspark['Salary']<=40000) & (df_pyspark['Salary']>=15000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| nik| 28|         5| 15000|
| piu| 25|         3| 25000|
| sam| 19|         2| 15200|
+----+---+----------+------+

In [ ]:
#  ~(Not), work as a inverse operation

In [22]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| piu| 25|         3| 25000|
|tiku| 26|         5| 53000|
|sanu| 29|         6| 45000|
+----+---+----------+------+