In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/06 14:44:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/06 14:44:49 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [30]:
df_pyspark=spark.read.csv('test4.csv',header=True,inferSchema=True)

In [31]:
df_pyspark.show()

+----+------------+------+
|Name|  Department|Salary|
+----+------------+------+
| nik|Data Science| 15000|
|dany|         IOT| 10000|
| piu|    Big Data| 25000|
|dany|         IOT| 12000|
| nik|         IOT| 15200|
|tiku|    Big Data| 53000|
| piu|Data Science| 45000|
+----+------------+------+

In [32]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

# GroupBy

In [33]:
## Groped to find maximum salary

In [34]:
df_pyspark.groupBy('Name').sum().show()

+----+-----------+
|Name|sum(Salary)|
+----+-----------+
|dany|      22000|
|tiku|      53000|
| piu|      70000|
| nik|      30200|
+----+-----------+

In [35]:
df_pyspark.groupBy('Name').max().show()

+----+-----------+
|Name|max(Salary)|
+----+-----------+
|dany|      12000|
|tiku|      53000|
| piu|      45000|
| nik|      15200|
+----+-----------+

In [36]:
df_pyspark.groupBy('Name').min().show()

+----+-----------+
|Name|min(Salary)|
+----+-----------+
|dany|      10000|
|tiku|      53000|
| piu|      25000|
| nik|      15000|
+----+-----------+

In [21]:
## Groupeby department which gives maximum salary

In [22]:
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      37200|
|    Big Data|      78000|
|Data Science|      60000|
+------------+-----------+

In [24]:
df_pyspark.groupBy('Department').mean().show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|    12400.0|
|    Big Data|    39000.0|
|Data Science|    30000.0|
+------------+-----------+

In [26]:
# Counting Employee
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    2|
|Data Science|    2|
+------------+-----+

In [27]:
# Total expenditure or salary

df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     175200|
+-----------+