In [1]:
#!pip install pyspark

In [2]:
import pandas as pd
pd.read_csv('test1.csv')

     name  age
0  nikhil   28
1    dany   45
2   piush   25

In [3]:
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName("Practice").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/04 14:32:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('test1.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [9]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  name|age|
|nikhil| 28|
|  dany| 45|
| piush| 25|
+------+---+

In [13]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark=spark.read.option('header','true').csv('test1.csv').show()

+------+---+
|  name|age|
+------+---+
|nikhil| 28|
|  dany| 45|
| piush| 25|
+------+---+

In [18]:
df_pyspark.head(3)

[Row(name='nikhil', age='28'),
 Row(name='dany', age='45'),
 Row(name='piush', age='25')]

In [19]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)