In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/04 14:46:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/04 14:46:39 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [4]:
## Reaf Dataset

df_pyspark=spark.read.option('header','true').csv('test2.csv').show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| nik| 28|         5|
|dany| 45|        10|
| piu| 25|         3|
+----+---+----------+

In [11]:
df_pyspark=spark.read.option('header','true').csv('test2.csv')

In [12]:
# Check the schema

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [13]:
df_pyspark=spark.read.option('header','true').csv('test2.csv',inferSchema=True)

In [14]:
# Check the schema

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [15]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [16]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| nik| 28|         5|
|dany| 45|        10|
| piu| 25|         3|
+----+---+----------+

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [19]:
df_pyspark.head(3)

[Row(Name='nik', Age=28, Experience=5),
 Row(Name='dany', Age=45, Experience=10),
 Row(Name='piu', Age=25, Experience=3)]

In [20]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| nik| 28|         5|
|dany| 45|        10|
| piu| 25|         3|
+----+---+----------+

In [21]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [23]:
df_pyspark.select(['name', 'experience'])

DataFrame[name: string, experience: int]

In [24]:
df_pyspark.select(['name', 'experience']).show()

+----+----------+
|name|experience|
+----+----------+
| nik|         5|
|dany|        10|
| piu|         3|
+----+----------+

In [25]:
df_pyspark['Name']

Column<'Name'>

In [26]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [27]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [28]:
df_pyspark.describe().show()

+-------+----+------------------+-----------------+
|summary|Name|               Age|       Experience|
+-------+----+------------------+-----------------+
|  count|   3|                 3|                3|
|   mean|null|32.666666666666664|              6.0|
| stddev|null|10.785793124908958|3.605551275463989|
|    min|dany|                25|                3|
|    max| piu|                45|               10|
+-------+----+------------------+-----------------+

### Adding columns in DataFrame

In [30]:
df_pyspark.withColumn("Experience after 2 years",df_pyspark['Experience']+2)

DataFrame[Name: string, Age: int, Experience: int, Experience after 2 years: int]

In [31]:
df_pyspark.withColumn("Experience after 2 years",df_pyspark['Experience']+2).show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience after 2 years|
+----+---+----------+------------------------+
| nik| 28|         5|                       7|
|dany| 45|        10|                      12|
| piu| 25|         3|                       5|
+----+---+----------+------------------------+

In [32]:
df_pyspark=df_pyspark.withColumn("Experience after 2 years",df_pyspark['Experience']+2)

In [33]:
df_pyspark.show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience after 2 years|
+----+---+----------+------------------------+
| nik| 28|         5|                       7|
|dany| 45|        10|                      12|
| piu| 25|         3|                       5|
+----+---+----------+------------------------+

In [34]:
# Drop the column

df_pyspark.drop('Experience after 2 years').show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| nik| 28|         5|
|dany| 45|        10|
| piu| 25|         3|
+----+---+----------+

In [36]:
# Drop the column

df_pyspark=df_pyspark.drop('Experience after 2 years')

In [37]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| nik| 28|         5|
|dany| 45|        10|
| piu| 25|         3|
+----+---+----------+

In [38]:
# rename the column

df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|     nik| 28|         5|
|    dany| 45|        10|
|     piu| 25|         3|
+--------+---+----------+